// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap");

// Tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply text-button capitalize font-medium bg-blue-0b overflow-hidden rounded  inline-block px-5;
  }
}

@layer utilities {
  body {
    @apply font-lexend font-normal;
  }
  .container {
    @apply mx-auto px-3  xl:max-w-1320;
  }
}

// Custom css

// Toggle Button
.toggle {
  width: 65px;
  height: 65px;
  display: flex;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;

  span {
    width: 40px;
    height: 4px;
    position: absolute;
    border-radius: 4px;
    background: #1863ff;
    transition: all 0.3s linear;

    &:nth-child(1) {
      width: 25px;
      left: 15px;
      transform: translateY(-15px);
    }
    &:nth-child(2) {
      width: 15px;
      left: 15px;
      transform: translateY(15px);
    }
  }

  &.active {
    transform: translateY(3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

    span {
      &:nth-child(1) {
        width: 40px;
        transition-delay: 0.03s;
        transform: translateY(0px) rotate(45deg);
      }
      &:nth-child(2) {
        width: 40px;
        transition-delay: 0.06s;
        transform: translateY(0px) rotate(315deg);
      }
      &:nth-child(3) {
        transform: translateX(60px);
      }
    }
  }
}

// footer Menu
.footer-menu {
  li {
    a {
      position: relative;
      padding-left: 0px;
      transition: all 0.2s linear;
      &::before {
        content: "";
        width: 16px;
        height: 2px;
        border-radius: 2px;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
      }

      &:hover {
        padding-left: 28px;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.build-solution {
  &:nth-child(2) .build-solution-wrap {
    margin-top: 50px;
    @media (max-width: 640px) {
      margin: 0;
    }
    border: 2px solid #fcdbf4;
    .icon {
      background-color: #f249c8;
    }
  }
  &:nth-child(3) .build-solution-wrap {
    margin-top: -50px;
    border: 2px solid #e3d6ff;
    @media (max-width: 640px) {
      margin: 0;
    }
    .icon {
      background-color: #7534ff;
    }
  }
  &:nth-child(4) .build-solution-wrap {
    border: 2px solid #cfebd1;
    .icon {
      background-color: #0f9918;
    }
  }
}

.business-card {
  &:hover {
    .icon {
      background-color: #0b63e5;
    }

    path {
      stroke: white;
    }
  }
  .icon {
    svg path {
      transition: all 0.4s;
    }
  }
}

// radio
input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
}

// input[type="radio"] + label span:hover,
// input[type="radio"] + label:hover span{
//   transform: scale(1.2);
// }
input[type="radio"]:checked + label span {
  background-color: #0b63e5; //bg-blue
  box-shadow: 0px 0px 0px 4px white inset;
}

// product demo

.hero-demo {
  @media (max-width: 1500px) {
    background-image: none !important;
  }
  //  @media (max-width: 1400px) {
  //     background-position: 290%!important;
  // }
}

.fun-column {
  @media (max-width: 1023px) {
    &:nth-child(2) .fun-wrap {
      border-right: none;
    }
  }
  &:nth-child(4) .fun-wrap {
    border-right: none;
  }
  &:nth-child(5) .fun-wrap {
    border-bottom: none;
    @media (max-width: 1023px) {
      border-bottom: 1px solid #e6e8ec;
    }
  }
  &:nth-child(6) .fun-wrap {
    border-bottom: none;
    @media (max-width: 1023px) {
      border-bottom: 1px solid #e6e8ec;
      border-right: 0;
    }
  }
  &:nth-child(7) .fun-wrap {
    border-bottom: none;
  }
  &:nth-child(8) .fun-wrap {
    border: none;
  }
}

.content-wrap {
  &:last-child {
    margin: 0;
  }
  &:hover h3,
  &:hover p {
    color: white;
  }
}

// feature columns box

.feature {
  @media (max-width: 1024px) {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }

  li {
    &:nth-child(1) {
      @media (max-width: 460px) {
        margin-left: 280px;
      }
    }
  }

  &-box {
    padding: 24px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;

    .active,
    &:hover {
      box-shadow: 0px -3px 0px 0px #0b63e5 inset;
    }
  }
}

// sort filter
.sort-filter {
  #vs1__combobox,
  .vs__actions,
  .vs__selected,
  .vs__search {
    margin: 0;
    padding: 0px;
  }
  #vs1__combobox {
    padding: 12px 18px;
    border-radius: 6px;
    border: 1px solid #e6e8ec;
  }
  .vs__search,
  .vs__selected {
    font-size: 16px;
    color: #838e9e;
    font-weight: 300;
    line-height: 24px;
  }
}

// Faq
.faq-wrapper[data-v-5d9392b3] {
  margin: 0px auto;
  .accordion {
    margin: 0px;
    border: 0px;
    &__item {
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 24px;
      border: 1px solid #e6e8ec;
    }

    &__title-text {
      font-size: 20px;
      line-height: 28px;
      color: #061c3d;
      letter-spacing: -0.015em;
    }

    &__title {
      padding: 24px;
      &:hover {
        .accordion__toggle-button {
          &::after,
          &::before {
            background-color: #0b63e5;
          }
        }
      }

      &_active {
        background-color: #0b63e5;
        .accordion__title-text {
          color: #fff;
        }
        .accordion__toggle-button.accordion__toggle-button_active {
          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
    }

    &__value {
      padding: 18px 24px 24px 24px;
    }

    &__toggle-button {
      &::after,
      &::before {
        background-color: #061c3d;
      }
    }
  }
}
